@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

$red: rgb(155, 23, 23);
$purple: rgb(109, 13, 109);
$mobile-width: 768px;


@keyframes up-down {
    from {
        transform: scale(1) translateY(0);
    }
    to {
        transform: scale(1.5) translateY(-10%);
    }
} 

@keyframes z-out {
    from {
        transform: scale(1) translateY(0);
    }
    to {
        transform: scale(1.5) translateY(-10%);
    }
}

@keyframes opacity-1 {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}


.loading {
    overflow: hidden;
    height: 100vh;
 }

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(249, 249, 249); /* change if the mask should have another color then white */
    z-index: 99999; /* makes sure it stays on top */
    display: flex;
    justify-content: center;
    // animation: up-down 10s linear infinite alternate;
}

#status {
    align-self: center;
    width: 500px;
    height: 100px;
    background: url("../img/logo.png") no-repeat center center;
    background-size: 200px auto;
    animation: opacity-1 3s infinite ease-out;
}


body {
    background: linear-gradient(150deg, white 5%, $red 20%, $purple 100%) no-repeat;
    color: rgba(255, 255, 255, 0.6);
    font-family: "Montserrat", sans-serif;

    @media (max-width: $mobile-width) {
        background: linear-gradient(150deg, $red 30%, $red 30%, $purple 60%, $purple 60%, $purple 100%) no-repeat;
    }
}

//define wich header will show for client device

.desktop-only {
    &-header {
        display: initial;
        .box-header-desktop {
            box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.3);
        }
        @media (max-width: $mobile-width) {
            display: none;
        }
    }
}
.mobile-only {
    &-header {
        display: initial;

        @media (min-width: $mobile-width) {
            display: none;
        }
    }
}

header {
    .navbar-brand {
        img {
            max-height: 3rem;
        }
    }
}

.border-custom {
    border-style: solid;
    border-color: white;
    border-width: 10px 10px 10px 10px;
}

.cover {
    object-fit: cover;
    max-height: 5in;
    width: 100%;
}

.display-7 {
    font-size: 2em;
}

.moto-grid .row {
    color: black;
}

.height {
    &-11 {
        height: 11rem;
    }
}

.heading {
    &-3 {
        @media (min-width: $mobile-width) {
            margin-bottom: 2rem;
        }
        text-transform: uppercase;
    }

    &-5 {
        color: $red;
        hr {
            border: none;
            height: 2px;
            background-color: $red;
            opacity: inherit;
        }
    }
}

p {
    font-size: 80%;
    line-height: 1.5;
}

.social-links a {
    font-size: 5rem;
    padding-right: 2rem;
    color: $red !important;
}

.nav-footer a {
    color: white;
}
